@model List<ShoppingCartWeb.Models.ProductViewModel>
@foreach (var item in Model)
{
    <div class="col-md-3 w3ls_w3l_banner_left" style="padding:1%">
        <div class="hover14 column">
            <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                <div class="agile_top_brand_left_grid_pos">
                    <img src="~/images/offer.png" alt=" " class="img-responsive" />
                </div>
                <div class="agile_top_brand_left_grid1">
                    <figure>
                        <div class="snipcart-item block">
                            <div class="snipcart-thumb">
                                <a href="@Url.Action("ProductDetailVC","Product", new { id= item.ProductId})"><img src="https://sd3530images.blob.core.windows.net/image/@item.ImageFileName" alt=" " class="img-responsive" /></a>
                                <p>@item.ProductName</p>
                                <h4>$@item.Price</h4>
                            </div>
                            <div class="snipcart-details">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="business" value=" " />
                                        <input type="hidden" name="item_name" value="dishwash gel, lemon" />
                                        <input type="hidden" name="amount" value="8.00" />
                                        <input type="hidden" name="discount_amount" value="0" />
                                        <input type="hidden" name="currency_code" value="USD" />
                                        <input type="hidden" name="return" value=" " />
                                        <input type="hidden" name="cancel_return" value=" " />
                                        <input type="submit" name="submit" value="Add to cart" class="button" />
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
}